In [1]:
## importacion de la data 
import numpy as np
import pandas as pd

data = pd.read_csv('./data_set/student-mat.csv', sep=';')

def cambioTextNum(df, nomCol, tipo):
    df[nomCol] = df[nomCol].astype(tipo)
    return df[nomCol]

def camTextBi(df, nomCol, busqueda, camuno, camdos):
    df[nomCol] = np.where(df[nomCol] == busqueda, camuno, camdos)
    return df[nomCol]

def convDummies(df, nomCol):
    dummies = pd.get_dummies(df[nomCol])
    data = pd.concat([df, dummies], axis=1)
    data.drop(columns=[nomCol], inplace=True)
    return data

def datos_NA(df):
    if isinstance(df, pd.DataFrame):
        total_na = df.isna().sum().sum()
        print("Dimensiones : %d filas, %d columnas" %
              (df.shape[0], df.shape[1]))
        print("Total Valores NA : %d " % (total_na))
        print("%38s %10s     %10s %10s" %
              ("Nombre Columna", "Tipo de Dato", "#Distintos", "Valores NA"))
        col_name = df.columns
        dtyp = df.dtypes
        uniq = df.nunique()
        na_val = df.isna().sum()
        for i in range(len(df.columns)):
            print("%38s %10s   %10s %10s" %
                  (col_name[i], dtyp[i], uniq[i], na_val[i]))

    else:
        print("Se esperaba dataframe %15s" % (type(df)))

data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [2]:
datos_NA(data)

Dimensiones : 395 filas, 33 columnas
Total Valores NA : 0
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                                school     object            2          0
                                   sex     object            2          0
                                   age      int64            8          0
                               address     object            2          0
                               famsize     object            2          0
                               Pstatus     object            2          0
                                  Medu      int64            5          0
                                  Fedu      int64            5          0
                                  Mjob     object            5          0
                                  Fjob     object            5          0
                                reason     object            4          0
                              guardian     object            3          0
                            traveltime      int64            4          0
                             studytime      int64            4          0
                              failures      int64            4          0
                             schoolsup     object            2          0
                                famsup     object            2          0
                                  paid     object            2          0
                            activities     object            2          0
                               nursery     object            2          0
                                higher     object            2          0
                              internet     object            2          0
                              romantic     object            2          0
                                famrel      int64            5          0
                              freetime      int64            5          0
                                 goout      int64            5          0
                                  Dalc      int64            5          0
                                  Walc      int64            5          0
                                health      int64            5          0
                              absences      int64           34          0
                                    G1      int64           17          0
                                    G2      int64           17          0
                                    G3      int64           18          0

In [3]:
data['sex'] = camTextBi(data,'sex','F',0,1)
data['school'] = camTextBi(data,'school','GP',0,1)
data['address'] = camTextBi(data,'address','U',0,1)
data['address'] = camTextBi(data,'address','U',0,1)
data['famsize'] = camTextBi(data,'famsize','GT3',0,1)
data['Pstatus'] = camTextBi(data,'Pstatus','A',0,1)
data['schoolsup'] = camTextBi(data,'schoolsup','yes',0,1)
data['famsup'] = camTextBi(data,'famsup','yes',0,1)
data['paid'] = camTextBi(data,'paid','yes',0,1)
data['activities'] = camTextBi(data,'activities','yes',0,1)
data['nursery'] = camTextBi(data,'nursery','yes',0,1)
data['higher'] = camTextBi(data,'higher','yes',0,1)
data['internet'] = camTextBi(data,'internet','yes',0,1)
data['romantic'] = camTextBi(data,'romantic','yes',0,1)

In [4]:
datos_NA(data)

Dimensiones : 395 filas, 33 columnas
Total Valores NA : 0
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                                school      int64            2          0
                                   sex      int64            2          0
                                   age      int64            8          0
                               address      int64            1          0
                               famsize      int64            2          0
                               Pstatus      int64            2          0
                                  Medu      int64            5          0
                                  Fedu      int64            5          0
                                  Mjob     object            5          0
                                  Fjob     object            5          0
                                reason     object            4          0
                              guardian     object            3          0
                            traveltime      int64            4          0
                             studytime      int64            4          0
                              failures      int64            4          0
                             schoolsup      int64            2          0
                                famsup      int64            2          0
                                  paid      int64            2          0
                            activities      int64            2          0
                               nursery      int64            2          0
                                higher      int64            2          0
                              internet      int64            2          0
                              romantic      int64            2          0
                                famrel      int64            5          0
                              freetime      int64            5          0
                                 goout      int64            5          0
                                  Dalc      int64            5          0
                                  Walc      int64            5          0
                                health      int64            5          0
                              absences      int64           34          0
                                    G1      int64           17          0
                                    G2      int64           17          0
                                    G3      int64           18          0

In [16]:
DataDumi_1 = convDummies(data,'Mjob')
DataDumi_2 = convDummies(DataDumi_1,'Fjob')
DataDumi_3 = convDummies(DataDumi_2,'reason')
DataTestNor = convDummies(DataDumi_3,'guardian')

In [17]:
datos_NA(DataTestNor)

Dimensiones : 395 filas, 46 columnas
Total Valores NA : 0
                        Nombre Columna Tipo de Dato     #Distintos Valores NA
                                school      int64            2          0
                                   sex      int64            2          0
                                   age      int64            8          0
                               address      int64            1          0
                               famsize      int64            2          0
                               Pstatus      int64            2          0
                                  Medu      int64            5          0
                                  Fedu      int64            5          0
                            traveltime      int64            4          0
                             studytime      int64            4          0
                              failures      int64            4          0
                             schoolsup      int64            2          0
                                famsup      int64            2          0
                                  paid      int64            2          0
                            activities      int64            2          0
                               nursery      int64            2          0
                                higher      int64            2          0
                              internet      int64            2          0
                              romantic      int64            2          0
                                famrel      int64            5          0
                              freetime      int64            5          0
                                 goout      int64            5          0
                                  Dalc      int64            5          0
                                  Walc      int64            5          0
                                health      int64            5          0
                              absences      int64           34          0
                                    G1      int64           17          0
                                    G2      int64           17          0
                                    G3      int64           18          0
                               at_home      uint8            2          0
                                health      uint8            2          0
                                 other      uint8            2          0
                              services      uint8            2          0
                               teacher      uint8            2          0
                               at_home      uint8            2          0
                                health      uint8            2          0
                                 other      uint8            2          0
                              services      uint8            2          0
                               teacher      uint8            2          0
                                course      uint8            2          0
                                  home      uint8            2          0
                                 other      uint8            2          0
                            reputation      uint8            2          0
                                father      uint8            2          0
                                mother      uint8            2          0
                                 other      uint8            2          0

In [18]:
from scipy import stats
def testShapiroWilk(df):
        valoresP = []
        concepto = []
        variable = []
        for column in df:
            k2, p_value = stats.shapiro(df[column].values)
            valoresP.append(p_value)
            variable.append(column)
            if (p_value < 0.05):
                concepto.append('No es una variable Normal')
            else:
                concepto.append('Es una variable Normal')
        dfShapiro = pd.DataFrame(
            {'Variable': variable, 'Valores P': valoresP, 'Concepto': concepto})
        return dfShapiro

In [26]:

data = testShapiroWilk(DataTestNor)
data

/opt/homebrew/lib/python3.11/site-packages/scipy/stats/_morestats.py:1813: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

      Variable     Valores P                   Concepto
0       school  1.151195e-34  No es una variable Normal
1          sex  4.010956e-28  No es una variable Normal
2          age  1.587842e-14  No es una variable Normal
3      address  1.000000e+00     Es una variable Normal
4      famsize  4.301020e-30  No es una variable Normal
5      Pstatus  3.964336e-35  No es una variable Normal
6         Medu  2.815386e-18  No es una variable Normal
7         Fedu  2.706857e-17  No es una variable Normal
8   traveltime  2.310120e-27  No es una variable Normal
9    studytime  6.547986e-20  No es una variable Normal
10    failures  1.138359e-31  No es una variable Normal
11   schoolsup  3.177991e-34  No es una variable Normal
12      famsup  1.150048e-28  No es una variable Normal
13        paid  3.597474e-28  No es una variable Normal
14  activities  4.283977e-28  No es una variable Normal
15     nursery  5.857943e-32  No es una variable Normal
16      higher  2.159431e-37  No es una variable Normal
17    internet  5.128401e-33  No es una variable Normal
18    romantic  2.495928e-29  No es una variable Normal
19      famrel  3.906158e-20  No es una variable Normal
20    freetime  6.425508e-15  No es una variable Normal
21       goout  1.412791e-14  No es una variable Normal
22        Dalc  2.968092e-29  No es una variable Normal
23        Walc  3.718723e-19  No es una variable Normal
24      health  7.931349e-43  No es una variable Normal
25    absences  4.140299e-27  No es una variable Normal
26          G1  2.455476e-06  No es una variable Normal
27          G2  2.085406e-07  No es una variable Normal
28          G3  8.837149e-13  No es una variable Normal
29     at_home  0.000000e+00  No es una variable Normal
30      health  7.931349e-43  No es una variable Normal
31       other  0.000000e+00  No es una variable Normal
32    services  1.212712e-40  No es una variable Normal
33     teacher  0.000000e+00  No es una variable Normal
34     at_home  0.000000e+00  No es una variable Normal
35      health  7.931349e-43  No es una variable Normal
36       other  0.000000e+00  No es una variable Normal
37    services  1.212712e-40  No es una variable Normal
38     teacher  0.000000e+00  No es una variable Normal
39      course  6.872394e-29  No es una variable Normal
40        home  2.453966e-30  No es una variable Normal
41       other  0.000000e+00  No es una variable Normal
42  reputation  1.530983e-30  No es una variable Normal
43      father  2.175265e-31  No es una variable Normal
44      mother  9.882326e-30  No es una variable Normal
45       other  0.000000e+00  No es una variable Normal

In [32]:
from sklearn.preprocessing import MinMaxScaler
def normaData(df):
    valores = df.values  
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler = scaler.fit(valores)

    pd.DataFrame(np.vstack((scaler.data_min_, scaler.data_max_)),
             index=['Min', 'Max'],
             columns=df.columns)

    normalizados = scaler.transform(valores)
    df_norm = pd.DataFrame(normalizados,
                       index=df.index,
                       columns=df.columns)
    return df_norm

In [33]:
dataNormalizada = normaData(DataTestNor)
dataf = testShapiroWilk(dataNormalizada)
dataf

/opt/homebrew/lib/python3.11/site-packages/scipy/stats/_morestats.py:1813: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

      Variable     Valores P                   Concepto
0       school  1.151195e-34  No es una variable Normal
1          sex  4.010956e-28  No es una variable Normal
2          age  1.587842e-14  No es una variable Normal
3      address  1.000000e+00     Es una variable Normal
4      famsize  4.301020e-30  No es una variable Normal
5      Pstatus  3.964336e-35  No es una variable Normal
6         Medu  2.815386e-18  No es una variable Normal
7         Fedu  2.706857e-17  No es una variable Normal
8   traveltime  2.310120e-27  No es una variable Normal
9    studytime  6.547986e-20  No es una variable Normal
10    failures  1.138359e-31  No es una variable Normal
11   schoolsup  3.177991e-34  No es una variable Normal
12      famsup  1.150048e-28  No es una variable Normal
13        paid  3.597474e-28  No es una variable Normal
14  activities  4.283977e-28  No es una variable Normal
15     nursery  5.857943e-32  No es una variable Normal
16      higher  2.159431e-37  No es una variable Normal
17    internet  5.128401e-33  No es una variable Normal
18    romantic  2.495928e-29  No es una variable Normal
19      famrel  3.906158e-20  No es una variable Normal
20    freetime  6.425508e-15  No es una variable Normal
21       goout  1.412791e-14  No es una variable Normal
22        Dalc  2.968092e-29  No es una variable Normal
23        Walc  3.718723e-19  No es una variable Normal
24      health  4.484155e-44  No es una variable Normal
25    absences  4.140299e-27  No es una variable Normal
26          G1  2.455476e-06  No es una variable Normal
27          G2  2.085406e-07  No es una variable Normal
28          G3  8.837149e-13  No es una variable Normal
29     at_home  0.000000e+00  No es una variable Normal
30      health  4.484155e-44  No es una variable Normal
31       other  0.000000e+00  No es una variable Normal
32    services  1.212712e-40  No es una variable Normal
33     teacher  0.000000e+00  No es una variable Normal
34     at_home  0.000000e+00  No es una variable Normal
35      health  4.484155e-44  No es una variable Normal
36       other  0.000000e+00  No es una variable Normal
37    services  1.212712e-40  No es una variable Normal
38     teacher  0.000000e+00  No es una variable Normal
39      course  6.872394e-29  No es una variable Normal
40        home  2.453966e-30  No es una variable Normal
41       other  0.000000e+00  No es una variable Normal
42  reputation  1.530983e-30  No es una variable Normal
43      father  2.175265e-31  No es una variable Normal
44      mother  9.882326e-30  No es una variable Normal
45       other  0.000000e+00  No es una variable Normal

In [36]:
DataTestNor.describe().T

            count       mean       std   min   25%   50%   75%   max
school      395.0   0.116456  0.321177   0.0   0.0   0.0   0.0   1.0
sex         395.0   0.473418  0.499926   0.0   0.0   0.0   1.0   1.0
age         395.0  16.696203  1.276043  15.0  16.0  17.0  18.0  22.0
address     395.0   1.000000  0.000000   1.0   1.0   1.0   1.0   1.0
famsize     395.0   0.288608  0.453690   0.0   0.0   0.0   1.0   1.0
Pstatus     395.0   0.896203  0.305384   0.0   1.0   1.0   1.0   1.0
Medu        395.0   2.749367  1.094735   0.0   2.0   3.0   4.0   4.0
Fedu        395.0   2.521519  1.088201   0.0   2.0   2.0   3.0   4.0
traveltime  395.0   1.448101  0.697505   1.0   1.0   1.0   2.0   4.0
studytime   395.0   2.035443  0.839240   1.0   1.0   2.0   2.0   4.0
failures    395.0   0.334177  0.743651   0.0   0.0   0.0   0.0   3.0
schoolsup   395.0   0.870886  0.335751   0.0   1.0   1.0   1.0   1.0
famsup      395.0   0.387342  0.487761   0.0   0.0   0.0   1.0   1.0
paid        395.0   0.541772  0.498884   0.0   0.0   1.0   1.0   1.0
activities  395.0   0.491139  0.500555   0.0   0.0   0.0   1.0   1.0
nursery     395.0   0.205063  0.404260   0.0   0.0   0.0   0.0   1.0
higher      395.0   0.050633  0.219525   0.0   0.0   0.0   0.0   1.0
internet    395.0   0.167089  0.373528   0.0   0.0   0.0   0.0   1.0
romantic    395.0   0.665823  0.472300   0.0   0.0   1.0   1.0   1.0
famrel      395.0   3.944304  0.896659   1.0   4.0   4.0   5.0   5.0
freetime    395.0   3.235443  0.998862   1.0   3.0   3.0   4.0   5.0
goout       395.0   3.108861  1.113278   1.0   2.0   3.0   4.0   5.0
Dalc        395.0   1.481013  0.890741   1.0   1.0   1.0   2.0   5.0
Walc        395.0   2.291139  1.287897   1.0   1.0   2.0   3.0   5.0
health      395.0   3.554430  1.390303   1.0   3.0   4.0   5.0   5.0
absences    395.0   5.708861  8.003096   0.0   0.0   4.0   8.0  75.0
G1          395.0  10.908861  3.319195   3.0   8.0  11.0  13.0  19.0
G2          395.0  10.713924  3.761505   0.0   9.0  11.0  13.0  19.0
G3          395.0  10.415190  4.581443   0.0   8.0  11.0  14.0  20.0
at_home     395.0   0.149367  0.356902   0.0   0.0   0.0   0.0   1.0
health      395.0   0.086076  0.280832   0.0   0.0   0.0   0.0   1.0
other       395.0   0.356962  0.479711   0.0   0.0   0.0   1.0   1.0
services    395.0   0.260759  0.439606   0.0   0.0   0.0   1.0   1.0
teacher     395.0   0.146835  0.354391   0.0   0.0   0.0   0.0   1.0
at_home     395.0   0.050633  0.219525   0.0   0.0   0.0   0.0   1.0
health      395.0   0.045570  0.208814   0.0   0.0   0.0   0.0   1.0
other       395.0   0.549367  0.498188   0.0   0.0   1.0   1.0   1.0
services    395.0   0.281013  0.450064   0.0   0.0   0.0   1.0   1.0
teacher     395.0   0.073418  0.261152   0.0   0.0   0.0   0.0   1.0
course      395.0   0.367089  0.482622   0.0   0.0   0.0   1.0   1.0
home        395.0   0.275949  0.447558   0.0   0.0   0.0   1.0   1.0
other       395.0   0.091139  0.288172   0.0   0.0   0.0   0.0   1.0
reputation  395.0   0.265823  0.442331   0.0   0.0   0.0   1.0   1.0
father      395.0   0.227848  0.419976   0.0   0.0   0.0   0.0   1.0
mother      395.0   0.691139  0.462610   0.0   0.0   1.0   1.0   1.0
other       395.0   0.081013  0.273201   0.0   0.0   0.0   0.0   1.0